# Auto detect text files and perform LF normalization
* text=auto
FaceH/modelo_ssd filter=lfs diff=lfs merge=lfs -text
FaceH/pessoas_cadastradas filter=lfs diff=lfs merge=lfs -text
FaceH/x64 filter=lfs diff=lfs merge=lfs -text
FaceH/FaceH.vcxproj.user filter=lfs diff=lfs merge=lfs -text
FaceH/faces filter=lfs diff=lfs merge=lfs -text
FaceH/haarcascades filter=lfs diff=lfs merge=lfs -text
FaceH/main.cpp filter=lfs diff=lfs merge=lfs -text
FaceH/modelos filter=lfs diff=lfs merge=lfs -text
FaceH/FaceH.vcxproj filter=lfs diff=lfs merge=lfs -text
FaceH/FaceH.vcxproj.filters filter=lfs diff=lfs merge=lfs -text
FaceH/ImagensTeste filter=lfs diff=lfs merge=lfs -text
x64/Debug filter=lfs diff=lfs merge=lfs -text
x64/Release filter=lfs diff=lfs merge=lfs -text
Include/OpenCV filter=lfs diff=lfs merge=lfs -text
